@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iajit6');
  src:  url('fonts/icomoon.eot?iajit6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iajit6') format('truetype'),
    url('fonts/icomoon.woff?iajit6') format('woff'),
    url('fonts/icomoon.svg?iajit6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_next:before {
  content: "\e901";
  color: #fff;
}
.icon-arrow_prev:before {
  content: "\e902";
  color: #fff;
}
.icon-brush:before {
  content: "\e904";
  color: #fff;
}
.icon-busket:before {
  content: "\e905";
  color: #fff;
}
.icon-Logo .path1:before {
  content: "\e906";
  color: rgb(234, 28, 36);
}
.icon-Logo .path2:before {
  content: "\e907";
  margin-left: -1.0126953125em;
  color: rgb(255, 255, 255);
}
.icon-Logo .path3:before {
  content: "\e908";
  margin-left: -1.0126953125em;
  color: rgb(255, 255, 255);
}
.icon-map:before {
  content: "\e909";
  color: #fff;
}
.icon-personal:before {
  content: "\e90a";
  color: #fff;
}
.icon-phone:before {
  content: "\e90b";
  color: #d43c38;
}
.icon-phone1:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-instagram:before {
  content: "\ea92";
}
